.display {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
.time {
    font-family: monospace;
    font-size: 3rem;
    font-weight: bold;
}
.timer-input-item {
    width: 150px;
}
lightning-button {
    min-width: 100px;
}