.container {
    gap: 10px;
}

.display {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.time {
    font-family: monospace;
}

.timer-input {
    gap: 10px;
}

.timer-input lightning-input {
    width: 80px;
}

.buttons {
    gap: 10px;
}

lightning-button {
    min-width: 120px;
}
